.comment {
  --grid-gap: 0.75rem;
  --avatar-size: 48px;

  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-gap: var(--grid-gap);
}

.comment::before {
  content: "";

  height: calc(100% - var(--avatar-size) - 8px);

  width: 2px;
  background: hsl(var(--nc));
  position: absolute;

  inset-inline-start: calc(var(--avatar-size) / 2);
  inset-block-start: calc(var(--avatar-size) + 4px);
}

.replies {
  position: relative;
  margin-inline-start: calc(40px + var(--grid-gap));
}
